<div id="topLine">
  <div id="line1"></div>
  <div id="line2"></div>
  <div id="line3"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/images/MILLogo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/clients">Clients <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/releases">Releases</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/videos">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events" tabindex="-1" aria-disabled="true">Events</a>
        </li>
      </ul>
    </div>

    <div class="navbar-nav ms-auto">
      <a href="https://twitter.com/MiL_Crew" target="_blank"><i class="fab fa-twitter navIcon"></i></a>
      <a href="https://www.instagram.com/mil_crew/" target="_blank"><i class="fab fa-instagram navIcon"></i></a>
      <a href="https://www.facebook.com/milcrew/?ref=br_rs" target="_blank"><i class="fab fa-facebook navIcon"></i></a>
    </div>
  </nav>
