<app-header></app-header>
<div id="releasesesBanner">
    <h1>Latest Events</h1>
    <p>Pharaohs Backyard - Pharoah's Backyard  <a href="https://www.youtube.com/watch?v=Dz5cMG5g5MY" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
</div>
<div id="releases">
    <div class="container">
        <div class="row">
            <div class="event event1" (click)="viewEvent('event')"></div>
            <div class="event event2" (click)="viewEvent('event')"></div>
            <div class="event event3" (click)="viewEvent('event')"></div>
            <div class="event event4" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
            <div class="event" (click)="viewEvent('event')"></div>
        </div>
      </div>
</div>