<app-header></app-header>
<div id="releasesesBanner">
    <h1>Latest Video</h1>
    <p>Besa Pharaoh - Listen To The Kids  <a href="https://www.youtube.com/watch?v=Dz5cMG5g5MY" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
</div>
<div id="releases">
    <div class="container">
        <div class="row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W4-4y64-DhQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="container nextRow">
        <div class="row ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hCx1A2egvVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="container nextRow">
        <div class="row ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HkXwp_dJWS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="container nextRow">
        <div class="row ">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SqZw0dP38tQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
</div>